html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
}

#endpoints {
  text-align: center;
  margin-right: 20px;
  flex: 1;
  max-width: 800px;
}


#endpoints h1 {
  font-size: 2em;
}

#endpoints h3{
    max-width: 800px;
}

#content {
  flex: 1;
  text-align: center;
  font-size: 1.5em;
  margin-top: 2em;
}

.endpoint{
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 800px;
}

.endpoint-header{
  background-color: #f4f4f4;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

.endpoint-body{
  display: none;
  padding: 15px;
}

.endpoint.open .endpoint-body {
  display:block;
}

form{
  text-align: left;
  display: block;
}

form > input, select{
  text-align: left;
  display: block;
  margin-bottom: 10px;
}